
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.App-header {
  background-color: #b04b7424;
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
  margin: 0;
}

.input {
  font-size: 16px;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  font-size: 16px;
  padding: 8px 20px;
  background-color: #b04b7424;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  color: black;
}

li {
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 8px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  color: #777;
}

input[type="checkbox"] {
  margin-right: 10px;
}
